*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #416B24;
}
.container{
    background-color: #C8E6B3;
    max-width: 800px;
    margin: 60px auto;
    height: 1250px;
    padding: 20px;
}
.header{
    text-align: center;
}
.header h1{
    margin-bottom: 10px;

}
.header h3{
    font-size: 20px;
    font-weight: 200;
}
.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto; 
    border: 15px groove #104911;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.profile-pic img{
    width: 100%;
}
.left{
    flex: 1;
    padding: 30px;
}
.left p{
    line-height: 2;
}
.left ul, li{
    line-height: 2;
}
h2{
    background-color: #416B24;
    padding: 5px;
    color: rgb(232, 219, 201);
}